
@{
    ViewBag.Title = "Divisiones";
}
<h2>Divisiones</h2>

<div ng-app="erpApp" ng-controller="divisionController">
    <div ui-view>
    </div>
    <div id="divWrapper" ng-show="dataLoaded" style="display:none">
        <table id="tblDivisiones" class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripción
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="division in divisiones">
                    <th scope="row">
                        {{$index+1}}
                    </th>
                    <td>
                        <span ng-show="division.showEdit">{{division.Nombre}}</span>
                        <input ng-show="!division.showEdit" type="text" ng-model="division.Nombre" class="form-control" />
                    </td>
                    <td>
                        <span ng-show="division.showEdit">{{division.Descripcion}}</span>
                        <input ng-show="!division.showEdit" type="text" ng-model="division.Descripcion" class="form-control" />
                    </td>
                    <td>
                        <span ng-show="division.showEdit" ng-click="toggleEdit(division,false)" class="glyphicon glyphicon-pencil"></span>
                        @*<span ng-show="division.showEdit" ng-click="showModalDialog(division)" class="glyphicon glyphicon-remove"></span>*@
                        <span ng-show="division.showEdit" ng-click="deleteDivision(division)" class="glyphicon glyphicon-trash" title="Borrar"></span>
                        <span ng-show="!division.showEdit" ng-click="updateDivision(division)" class="glyphicon glyphicon-floppy-disk" title="Guardar"></span>
                        <span ng-show="!division.showEdit" ng-click="toggleEdit(division,true)" class="glyphicon glyphicon-remove" title="Cancelar"></span>
                    </td>
                </tr>
                <tr ng-show="showAdd">
                    <th>
                        <span>#</span>
                    </th>
                    <td>
                        <input id="newName" ng-show="showAdd" ng-model="newNombre" type="text" class="form-control" />
                    </td>
                    <td>
                        <input id="newdesc" ng-show="showAdd" ng-model="newDescripcion" type="text" class="form-control" />
                    </td>
                    <td>
                        <span ng-show="showAdd" ng-click="addDivision()" class="glyphicon glyphicon-floppy-disk" title="Guardar"></span>
                    
                        <span ng-show="showAdd" ng-click="showNew()" class="glyphicon glyphicon-remove" title="Cancelar"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button ng-click="showNew()">
            Nueva División
        </button>
    </div>
    <!--Loading indicator-->
    <img src="~/Content/images/loading.gif" ng-show="dataLoading" class="center-block" title="Loading..." style="margin-top: 20px" />
</div>

@*@Scripts.Render("~/bundles/jquery-ui")*@
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/Scripts/app/erpApp.js")
@Scripts.Render("~/Scripts/app/division/divisionFactory.js")
@Scripts.Render("~/Scripts/app/services/notificationService.js")
@Scripts.Render("~/Scripts/app/services/modalWindowFactory.js")
@Scripts.Render("~/Scripts/app/division/divisionController.js")